maintext1{
    text-align: center;
    position: fixed;
    font-size: 500px;
    background-position: center;
}


mainbutton1{
    text-align: center;
    position: fixed;
    font-size: 500px;
    border-radius: 10px;
    background-position: center;
}
.mainbutton1:active{
    background-color: #00d90f;
}

.TriviaPhoto{
    position: fixed;
    top: 200px;
    left: 100px;
    background-position: center;
    background-attachment: fixed;
}