.maintext1{
    text-align: center;
    position: fixed;
    top: 5%;
    left: 35%;
    font-size: 100px;
}

.button4{
    text-align: center;
    position: fixed;
    top: 10%;
    left: 5%;
    font-size: 50px;
}

.submitbutton{
    text-align: center;
    position: fixed;
    top: 80%;
    font-size: 50px;
}




.maintext2{
    position: absolute;
    top: 200px;
    left: 50%;
}

.t1{
    position: absolute;
    top: 200px;
    left: 50%;
}

.t2{
    position: absolute;
    top: 200px;
    left: 60%;
}

.t3{
    position: absolute;
    top: 200px;
    left: 70%;
}


.b1{
    position: absolute;
    top: 200px;
    left: 45%; 
}

.b2{
    position: absolute;
    top: 200px;
    left: 45%; 
}
